
.siteview{
    position: absolute;
    left: 210px; 
    top: 60px;   
    
    
}
.background-siteview{
    background: transparent;
    background-image: linear-gradient(to left,#184071,#046365);
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.siteview-header{
    object-fit: cover;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 30px;
    color: #f1f1f1;
    background-image: linear-gradient(to left,#184071,#046365);
    border-bottom: solid 1px darkgrey;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
}
.btn-bg{
    background-color: #009cc3;
}
.row-siteview{
    width: 1260px;
    height:360px;
    border: 1px solid darkgrey;
    margin-left: 20px;
    margin-top: 20px;
}
.row-siteview.inactive{
    display: none;
}
.row-siteview-header{
    display: flex;
    justify-content: flex-start;
    width: 1258px;
    height: 40px;
    background-color: teal;
    color: #f1f1f1;
    align-items: center;
    border-bottom:  1px solid darkgrey;
    background-image: linear-gradient(to left,#0b2440,#033c3e);
}
.row-siteview-header div{
    margin-left: 30px;
}
.row-siteview-body{
    display: flex;
    justify-content: center;
}
.button-select{
    margin-left:20px;
    margin-top: 50px;

}
.button-select button{
    width: 70px;
    height: 30px;
    border-radius: 0;
    border: solid 1px #00f9fc;
    font-size: 16px;
    color: #f1f1f1;
}
.btn-bg-inactive{
    background-color: #083541;
}