.sidebar-link{
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    list-style: none;
    height: 50px;
    text-decoration: none;
    font-size: 18px;

}
.sidebar-link:hover{
    background: #252831;
    border-left: 4px solid #632ce4;
    cursor: pointer;
}
.sidebar-label{
    margin-left: 20px;
}
.dropdown-link{
    background: #414757;
    height: 50px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
}
.dropdown-link:hover{
    background: #632ce4;
    cursor: pointer;
}