.box-wave{
    width: 270px;
    height: 170px;
    border: 1px solid darkgray;
    margin-top: 20px;
    margin-left: 20px;
	background-color: rgba(61, 73, 85, 0.7);  
}
.wave{
    width: 110px;
    height:110px;
    padding-top: 40px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
    border: 3px solid rgb(13, 223, 93);
    border-radius: 50%;
    position: fixed;
	z-index: 10;
    
}
.wave-header{
    width: 268px;
    height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
    color: #f1f1f1;
	background-image: linear-gradient(to left,#0b2440,#033c3e);
	border-bottom: 1px solid darkgray;
}
.setting-icon{
	margin-left: 210px;
	font-size: 25px;
	position: fixed;
}
.setting-icon.active{
	color: skyblue;
}
.icon-click{
	width: 12px;
	height:12px;
	background-color: #f1f1f1;
	border-radius: 50px;
}
.icon-click.active{
	background-color: blue;
	border: solid 2px #f1f1f1
}
.dropdown-list{
	width: 150px;
	margin-left: 118px;
	padding-left: 15px;
	background-color: black;
	position: fixed;
	z-index: 50;
	color: #f1f1f1;
	opacity: 0.8;
}
.dropdown-list div{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.icon-click+div{
	margin-left: 10px;
}
.dropdown-list-inactive{
	display: none;
}
.wave-body{
    display: flex;
    justify-content: center;
    align-items: center;
	
	width: 268px;
	height: 128px;
}
.tit{
	color: #f1f1f1;
	font-size: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
}
.tit-inactive{
	display: none;
}
.wave path{
	animation:pathAnim 5s; 
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.wave path:nth-child(2){
	animation-delay: 1s
}
.wave path:nth-child(3){
	animation-delay: 3s
}
.wave path:nth-child(4){
	animation-play-state: paused;
}

@keyframes pathAnim{
	0%{
		d: path("M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500");
	}
	25%{
		d: path("M0,100	C220,100,440,292,660,292 C880,292,1100,100,1320,100	L1320 500 L0 500");
	}
	50%{
		d: path("M0,192	C220,290,440,290,660,192 C880,100,1100,100,1320,192	L1320 500 L0 500");
	}
	75%{
		d: path("M0,292	C220,292,440,100,660,100 C880,100,1100,292,1320,292	L1320 500 L0 500");
	}
	100%{
		d: path("M0,192	C220,100,440,100,660,192 C880,290,1100,290,1320,192	L1320 500 L0 500");
	}

}